@font-face {
  font-family: vazir;
  src: url("/assets/plagins/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Regular.woff");
  src: url("/assets/plagins/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Regular.eot")  format('woff');
  src: url("/assets/plagins/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Regular.ttf")  format('ttf');
  src: url("/assets/plagins/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Regular.woff2")  format('woff2');
}
@font-face {
  font-family: vazir;
  src: url("/assets/plagins/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.woff");
  src: url("/assets/plagins/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.eot")  format('woff');
  src: url("/assets/plagins/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.ttf")  format('ttf');
  src: url("/assets/plagins/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Bold.woff2")  format('woff2');
}
@font-face {
  font-family: Arial;
  src: url("/assets/plagins/fonts/webfonts/fa-brands-400.ttf")  format('ttf');
  src: url("/assets/plagins/fonts/webfonts/fa-brands-400.woff2") format('woff2');
  
}
@font-face {
  font-family: Arial;
  
  src: url("/assets/plagins/fonts/webfonts/fa-regular-400.ttf")  format('ttf');
  src: url("/assets/plagins/fonts/webfonts/fa-regular-400.woff2")  format('woff2');

  
}
@font-face {
  font-family: Arial;
  
  src: url("/assets/plagins/fonts/webfonts/fa-solid-900.ttf")  format('ttf');
  src: url("/assets/plagins/fonts/webfonts/fa-solid-900.woff2")  format('woff2');
  
}


html {
  scroll-behavior: smooth;
  
}
body{
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: vazir;
}

button, .banner-read-more{
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #011c36; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #294774; 
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #010e1b;
    height: 70px;
}
.nav-name{
    font-size: 25px;
    margin-right: 5%;
    color: rgb(178, 171, 187);
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  text-decoration: none;
  
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}

.nav-links a {
  color: #fff;
  transition-property:all;
  transition-duration: 5s;
}

.nav-btn button a{
  text-decoration: none;
  color: rgb(189, 194, 204);
}
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu-li:hover {
  background-color: #0313a3;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.2s;
  border:solid 2px #056429;
}

.menu-li {
  padding: 5px 14px;
  margin-top: 5px;
}


.services {
  position: relative; 
}



.dropdown li + li {
  margin-top: 10px;
}

.services:hover .dropdown {
  display: block;
}
input[type=checkbox] {
  display: none;
} 

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}


.sign-in{
  background-color: #010e1b;
  border-radius: 10px;
  border: none;
  height: 40px;
  width: 100px;
  color: rgb(243, 250, 250);
  transition: 0.3s;
}

.log-in{
    background-color: #07137e;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100px;
    color: rgb(243, 250, 250);
    transition: 0.3s;
}
.log-in:hover{
    background-color: rgb(5, 121, 44);
    color: rgb(243, 250, 250);
    border-radius: 10px;
    transition: 0.3s;
}
.sign-in:hover{
    background-color: #056429;
    color: rgb(243, 250, 250);
    border-radius: 10px;
    transition: 0.5s;
}
.banner{
    background: linear-gradient(110deg, #000000 60%, #041b7e 60%);
    height: 600px;
    z-index: -1;
}
.info{
    display: flex;
    flex-direction: column;
    background: linear-gradient(110deg, #000000 60%, #041b7e 60%);
    align-items: center;
}
.info-item{
    align-self: center;
    font-size: larger;
    color: white;
}
.slider {
    width: 50%;
    text-align: center;
    overflow: hidden;
    margin-right: 25%;
  }
  #slide{
    width: 100%
  }
  .slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: rgb(121, 123, 124);
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }
  .slides img {
    object-fit: cover;
    position: absolute;
    padding: 1%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
  }
  .banner-read-more{
      margin-top: 5%;
      background: linear-gradient(110deg, #041b7e 70%, #000000 70%);
      height: 40px;
      width: 50%;
      margin-right: 25%;
      border-radius: 5px;
  }
  .banner-read-more p{
    text-decoration: none;
    color: rgb(203, 203, 218);
    position: relative;
    top: 10px;
  }
  .info{
    width: 90%;
    margin-right: 5%;
  }
  .modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
 
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #041b30;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
 
  .table-pedar{
    width: 90%;
    position: relative;
    border: 1px solid #969296;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: 2%;
  }
  thead td{
     border-bottom: #969296 solid 2px;
  }
  tbody td{
    border-bottom: #969296 solid 2px;
 }
  thead td p{
    opacity: 0.8;
    margin-right: 3%;
  }
  .table-item{
    display: flex;
    flex-direction: row;
  }
  tbody tr td a{
    color: #000;
    text-decoration: none;
  }
  tbody td div i{
    font-size: 40px;
    margin-right: 1%;
  }
  tbody td div b{
    font-size: larger;
    margin-right: 3%;
  }
  .table-item-name p{
    margin-top: 6%;
    opacity: 0.5;
    margin-right: 5px;
  }
  .table-item-price p{
    margin-right: 10px;
  }
  .table-item-change{
    display: flex;
    flex-direction: row;
  }
  .table-item-change p{
    margin-right: 5px;
  }
  .table-item-buy-sell button{
    width: 90px;
    margin-right: 5px;
    background-color: #eee;
    color: rgb(10, 134, 58);
    border: solid 2px rgb(10, 134, 58);
    border-radius: 5px;
    transition: 0.5s;
  }
  .table-item-buy-sell button:hover{
    background-color: rgb(10, 134, 58);
    color: #eee;
    border: solid 2px rgb(10, 134, 58);
    transition: 0.5s;
  }
  .open-sec-page-div{
    margin-right: 41%;
  }
  .open-sec-page:hover{
    cursor: pointer
  }
 .open-sec-page{
   width: 180px;
   height: 50px;
   background-color: #093594;
   border: none;
   border-radius: 10px;
   margin-top: 1%;
   color: #ffffff;
 }
 .open-sec-page-link{
  color: #eee;
  text-decoration: none;
  transform: 1s;
 }

input[type=checkbox] {
  display: none;
} 

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.ma-page-dropdown {
  width : 100%; 
  background: rgb(32, 32, 32);
  margin : 40px auto; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:250px ;
}
.ma-page-dropdown .slide li a{
  color: white;
}
.ma-page-dropdown .slide2 li a{
  color: white;
}
.ma-page-dropdown h1{
  align-self: center;
  color: #a5a7b3;
}
.ma-page-dropdown div{
  width: 50%;
  margin-right:25%; 
}
.ma-page-dropdown span {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
  border-radius: 10px;
}
.ma-page-dropdown ul{
  width: 90%;
}
.ma-page-dropdown li{
  width: 75%;
}
.ma-page-dropdown li a{
  text-decoration: none;
  color: #010e1b;
}
.ma-page-dropdown li:hover{
  background-color: #1b2a6e;
  border-radius: 10px;
}
.ma-page-dropdown span::after {
  float: right;
  right: 10%;
  content: "+";
}
.convert-box-form label{
  color: white;
}
.ma-page-dropdown .slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}
.convert-box-form{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.convert-box-form select{
  width: 150px;
  border-radius: 10px;
}
.ma-page-dropdown .slide li {padding : 20px; list-style-type:none; } 

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 1000px;} 

.ma-page-dropdown .slide2 {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.ma-page-dropdown .slide2 li {padding : 20px;  list-style-type:none;}

#touch2 {position: absolute; opacity: 0; height: 0px;}    

#touch2:checked + .slide2 {height: 1000px;} 

.footer{
  width: 100%;
  height: 230px;
  background-color: rgb(32, 32, 32);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer h1{
  margin-right: 2%;
  color: rgb(178, 178, 201);
}

.footer-r li{
  list-style: none;
  margin-top: 30px;
}
.footer-r li h2{
  color: rgb(178, 178, 201);
  text-decoration: none;
}
.footer-r li a{
  color: #08a0ce;
  text-decoration: none;
}
.footer-links{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}
.footer-links i{
  margin-right: 10px;
  color: #08a0ce;
}

.footer-l li{
  list-style: none;
  margin-top: 30px;
}
.footer-l li h2{
  color: rgb(178, 178, 201);
  text-decoration: none;
}
.footer-l li a{
  color: #08a0ce;
  text-decoration: none;
}

.footer-la{
  margin-top: 2%;
}
.footer-la-li{
  margin-left: 55px;
}
.footer-la-li a{
  color: #08a0ce;
  text-decoration: none;
}
.footer-la-li li{
  list-style-type: none;
  margin-left: 10px;
  margin-top: 10px;
}
.footer-r-number{
  color: darkgray;
   direction: ltr;
}









@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color:rgb(54, 63, 63);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
  .ma-page-dropdown h1{
    font-size: 20px;
  }
   .nav-btn{
    width: 10%;
    display: flex;
    flex-direction:column;
   }
  
   .log-in{
     background-color: rgb(12, 11, 11, 0);
   }
   .log-in:hover{
    background-color: rgb(12, 11, 11, 0);
    color: rgb(45, 72, 224);
   }
   .sign-in{
    background-color: rgb(12, 11, 11, 0);
  }
  .sign-in:hover{
   background-color: rgb(12, 11, 11, 0);
   color: rgb(45, 72, 224);
  }
  .slider {
    width: 70%;
    margin-right: 15%;
  }
  .banner{
    height: 700px;
  }
  .open-sec-page-div{
    margin-right: 30%;
  }
  .footer-la h1{
    font-size: 20px;
  }
  .footer-links{
    display: flex;
    flex-direction: column;
  }
  .footer-links a{
    margin-top: 20%;
  }
  .modal{
    height: 85%;
  }
 
 }

 @media (max-width: 500px){
   body{
     margin: 0;
   }
  .table-pedar{
    width: 100%;
    margin: 0;
  }
  .table-item-buy-sell a button{
    width: 60px;
  }
  .ma-page-dropdown li{
    width: 30%;
    align-self: center;
  }
  .footer h1{
    font-size: 15px;
    margin-top: 5%;
  }
  .footer-l h2{
    font-size: 20px;
  }
  .footer-l{
    margin-left: 0;
  }
  .footer-r h2{
    font-size: 20px;
  }
  .footer-links i{
    font-size: 20px;
  }
  .footer-la h1{
    margin-top: 30%;
  }
  .convert-box-form{
    flex-direction: column;
  }
 }
 @media (max-width: 400px){
  .table-item-buy-sell a button{
    width: 40px;
  }
  .footer h1{
    font-size: 15px
  }
  .footer-l h2{
    font-size: 20px;
  }
  .footer-l{
    margin-left: 5px;
  }
  .footer-r h2{
    font-size: 20px;
  }
 }
 @media (max-width: 370px){
  .table-item-buy-sell a button{
    width: 33px;
  }
  .footer h1{
    font-size: 15px
  }
  .footer-l h2{
    font-size: 15px;
  }
  .footer-l{
    margin-left: 0;
  }
  .footer-r h2{
    font-size: 15px;
  }
  .footer-links i{
    font-size: 20px;
  }
 }
 .sign-body{
  background-color: rgb(227, 228, 230);
  display: grid;
  justify-content: center;
  width: 100%;
 }
 .signin{
   margin-top: 50px;
   height: 450px;
   width: 400px;
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
 }
 .signin-h2{
   text-align: center;
 }
 .signin h5{
  text-align: center;
  opacity: 0.8;
}
 .signin-form{
   margin-top: 10px;
   width: 80%;
   margin-right: 10%;
  }
  .signin-form label{
    font-size: 20px;
  }
  .signin-form input{
    border: 1px solid rgb(213, 216, 212);
    height: 30px;
    width: 100%;
    border-radius: 5px;
  }
  .sign-item{
    margin-top: 20px;
  }
  .sign-submit{
    background-color: #40a8bb;
  }
  .login-body{
    background-color: rgb(227, 228, 230);
    display: grid;
    justify-content: center;
    width: 100%;
   }
  
  .login{
    margin-top: 50px;
    height: 450px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .log-h2{
    text-align: center;
  }
  .login h5{
    text-align: center;
   opacity: 0.8;
 }
  .log-form{
    margin-top: 10px;
    width: 80%;
    margin-right: 10%;
   }
   .log-form label{
     font-size: 20px;
   }
   .log-form input{
     border: 1px solid rgb(213, 216, 212);
     height: 30px;
     width: 100%;
     border-radius: 5px;
   }
   .log-item{
     margin-top: 20px;
   }
   .log-submit{
     background-color: #40a8bb;
   }

   @media (max-width: 770px){
    .login-body{
      height: 400px;
      margin-top: 50px;
    }
    .sign-body{
      height: 400px;
      margin-top: 50px;
    }
   .signin{
    height: 100%;
    width: 100%;
    margin: 0;
  }
  .login{
    height: 100%;
    width: 100%;
    margin: 0;
  }
}